<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="huzurevi.Properties.Settings.MyDatabase_1ConnectionString" connectionString="Data Source=|DataDirectory|\MyDatabase#1.sdf;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\MyDatabase#1.sdf;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>